<div class="container" *ngIf="formGroupEditProduct">
  {{formGroupEditProduct.value | json}}
  <form [formGroup]="formGroupEditProduct" >

    <div class="form-group">
      <label>Id</label>
      <input type="text"  class="form-control" formControlName="id" >
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text"  class="form-control" formControlName="name" [ngClass]="{'is-invalid': submitted && formGroupEditProduct.controls.name.errors}">
      <div *ngIf="submitted && formGroupEditProduct.controls.name.errors" class="invalid-feedback">
        <div *ngIf="formGroupEditProduct.controls.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text"  class="form-control" formControlName="price" >
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text"  class="form-control" formControlName="quantity" >
    </div>
    <div class="form-group">
      <label>Selected</label>
      <input type="checkbox"  id="selected"  formControlName="selected" >
    </div>
    <div class="form-group">
      <label>Available</label>
      <input type="checkbox"  id="available"  formControlName="available" >
    </div>
    <button class="btn btn-success" (click)="onUpdateProduct()">Update</button>



  </form>
</div>

